:root{
    --darkblue : #355764;
    --white: #ffffff;
    --green: #5A8F7B;
}

html{
    height:100%;
}

body{
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    font-family:sans-serif;
}

h1{
    color: #5A8F7B;
}

a{
    text-decoration: none;
    color: #5A8F7B;
}

.form-container{
    border-radius: 20px;
    background-color:var(--darkblue);
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    margin: 20px;
    color: var(--white);
}

.form-container p{
    font-size: 16px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input{
    border: none;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    outline: none;
}

.submit{
    margin-top: 28px;
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}

